Repository jonpulsifer/cloudlab: changes, and which Atlantis projects are due for each by the changed paths.
All: gcp/projects/kubesec, gcp/projects/trusted-builds

atlantis.yaml:

version: 2
projects:
- dir: gcp/projects/kubesec
  autoplan:
    when_modified: ["../../../terraform/modules/**/*.tf", "*.tf*"]
- dir: gcp/projects/trusted-builds
  autoplan:
    when_modified: ["../../../terraform/modules/**/*.tf", "*.tf*"]

Remove CSEK for atlantis rn
  gcp/projects/homelab-ng/versions.tf
  gcp/projects/jonpulsifer/versions.tf
  gcp/projects/kubesec/versions.tf
  gcp/projects/trusted-builds/versions.tf
  gcp/projects/wishlist-4362e/versions.tf
  gcp/resource-manager/versions.tf
  vault/versions.tf
Due: gcp/projects/kubesec, gcp/projects/trusted-builds

Add atlantis to IAM
  gcp/projects/homelab-ng/storage.tf
  gcp/projects/homelab-ng/versions.tf
Due: none

resource manager updates
  gcp/resource-manager/versions.tf
Due: none

Add atlantis yaml
  atlantis.yaml
Due: none

Add alice to storage
  gcp/projects/kubesec/storage.tf
Due: gcp/projects/kubesec

dot slash
  atlantis.yaml
Due: none

put the modules in teh right places
  gcp/projects/kubesec/gce.tf
Due: gcp/projects/kubesec

Fix atlantis yaml
  atlantis.yaml
Due: none

Some changes
  gcp/projects/jonpulsifer/versions.tf
  gcp/projects/trusted-builds/iam.tf
  gcp/projects/trusted-builds/versions.tf
  gcp/projects/wishlist-4362e/versions.tf
Due: gcp/projects/trusted-builds

The wishlist is EOL
  atlantis.yaml
Due: none

[wip] seawall
  gcp/projects/sea-wall/gce.tf
  gcp/projects/sea-wall/iam.tf
  gcp/projects/sea-wall/policy.tf
  gcp/projects/sea-wall/services.tf
  gcp/projects/sea-wall/storage.tf
  gcp/projects/sea-wall/versions.tf
  gcp/projects/seawall-ae-1234567/gae.tf
  gcp/projects/seawall-ae-1234567/iam.tf
  gcp/projects/seawall-ae-1234567/policy.tf
  gcp/projects/seawall-ae-1234567/versions.tf
Due: none

Apply suggestions from code review
  gcp/projects/sea-wall/gce.tf
  gcp/projects/seawall-ae-1234567/gae.tf
Due: none

gce network change
  gcp/projects/kubesec/gce.tf
Due: gcp/projects/kubesec

just another private cluster
  gcp/projects/kubesec/gke.tf
  gcp/projects/kubesec/policy.tf
Due: gcp/projects/kubesec

Update README.md
  gcp/functions/orgPolicyAuditor/README.md
Due: none

org updates
  .gitignore
  gcp/resource-manager/billing.tf
  gcp/resource-manager/folders.tf
  gcp/resource-manager/liens.tf
  gcp/resource-manager/organization-policy.tf
  gcp/resource-manager/organization.tf
  gcp/resource-manager/projects.tf
  gcp/resource-manager/versions.tf
Due: none

wb cloud-init
  cloud-init/cos-single-service.tpl
  cloud-init/ubuntu-single-service.tpl
Due: none

ok ok ok
  .gitignore
  cloud-init/ubuntu-wireguard-server
  gcp/projects/kubesec/gce.tf
  gcp/projects/kubesec/gke.tf.old
Due: gcp/projects/kubesec

Wireguard
  gcp/projects/kubesec/policy.tf
  gcp/projects/kubesec/storage.tf
  gcp/projects/kubesec/wireguard.tf
Due: gcp/projects/kubesec

use the remote module
  gcp/projects/kubesec/wireguard.tf
Due: gcp/projects/kubesec

remove old local
  gcp/resource-manager/versions.tf
Due: none

jenkinz
  cloud-init/ubuntu-jenkins-server
  gcp/projects/kubesec/jenkins.tf
  gcp/projects/kubesec/storage.tf
Due: gcp/projects/kubesec

Update cloud-init/ubuntu-jenkins-server
  cloud-init/ubuntu-jenkins-server
Due: none

tidy up
  gcp/projects/kubesec/jenkins.tf
  gcp/projects/kubesec/storage.tf
  gcp/projects/kubesec/wireguard.tf
Due: gcp/projects/kubesec

wireguard goes in the sea wall
  gcp/projects/sea-wall/gce.tf
  gcp/projects/sea-wall/wireguard.tf
Due: none

ok`:wq
  terraform/gcp/projects/cloud-glue/iam.tf
  terraform/gcp/projects/cloud-glue/policy.tf
Due: none

ok ok ok func
  functions/cloud-glue/.gcloudignore
  functions/cloud-glue/deploy-function.sh
  functions/cloud-glue/glue.go
  functions/cloud-glue/go.mod
  functions/cloud-glue/go.sum
Due: none

sticky
  apps-script/cloud-glue/CloudFunction.js
  apps-script/cloud-glue/Code.js
  apps-script/cloud-glue/PubSub.js
  apps-script/cloud-glue/appsscript.json
  functions/cloud-glue/deploy-function.sh
  functions/cloud-glue/glue.go
  functions/cloud-glue/test.json
  terraform/gcp/projects/cloud-glue/functions.tf
  terraform/gcp/projects/cloud-glue/policy.tf
  terraform/gcp/projects/cloud-glue/services.tf
Due: none

ok?
  apps-script/cloud-glue/CloudFunction.js
  apps-script/cloud-glue/Code.js
  apps-script/cloud-glue/PubSub.js
Due: none

cloud is gluey
  functions/cloud-glue/http/.gcloudignore
  functions/cloud-glue/http/deploy-function.sh
  functions/cloud-glue/http/glue.go
  functions/cloud-glue/http/go.mod
  functions/cloud-glue/http/go.sum
  functions/cloud-glue/http/test.json
  functions/cloud-glue/pubsub/.gcloudignore
  functions/cloud-glue/pubsub/deploy-function.sh
  functions/cloud-glue/pubsub/go.mod
  functions/cloud-glue/pubsub/go.sum
  functions/cloud-glue/pubsub/pubsub.go
  terraform/gcp/projects/cloud-glue/iam.tf
Due: none

ok
  terraform/gcp/projects/cloud-glue/bigquery.tf
  terraform/gcp/projects/cloud-glue/dataflow.tf
  terraform/gcp/projects/cloud-glue/policy.tf
  terraform/gcp/projects/cloud-glue/services.tf
  terraform/gcp/projects/cloud-glue/storage.tf
  terraform/gcp/resource-manager/projects.tf
Due: none

o:W:wq
  apps-script/cloud-glue/Code.js
  apps-script/cloud-glue/Config.js
  apps-script/cloud-glue/Configuration.html
  apps-script/cloud-glue/ConfigurationJavaScript.html
Due: none

homelab
  terraform/gcp/projects/homelab-ng/functions.tf
  terraform/gcp/projects/homelab-ng/iam.tf
  terraform/gcp/projects/homelab-ng/kms.tf
  terraform/gcp/projects/homelab-ng/services.tf
  terraform/gcp/projects/homelab-ng/storage.tf
Due: none

okie dokie
  cloud-init/cos-wordpress
  k8s/namespaces/cert-manager/01-rbac-certmanager.yaml
  k8s/namespaces/cert-manager/02-letsencrypt-dns-issuer.yaml
  k8s/namespaces/cert-manager/02-svc.yaml
  k8s/namespaces/cert-manager/cert-manager.yaml
  k8s/namespaces/cert-manager/deployment.yaml
  k8s/namespaces/cert-manager/pki.yaml
  k8s/namespaces/datadog/agent.yaml
  k8s/namespaces/external-dns/deployment.yaml
  k8s/namespaces/nginx/01-rbac-nginx.yaml
  k8s/namespaces/nginx/nginx-configs.yaml
  k8s/namespaces/nginx/nginx-ingress-controller.yaml
  k8s/namespaces/vault/02-certificate.yaml
  k8s/namespaces/vault/02-service.yml
  k8s/namespaces/vault/03-ingress.yaml
  k8s/namespaces/vault/deployment.yaml
  systemd/coredns.service
  systemd/docker/daemon.json
  terraform/gcp/projects/kubesec/gce.tf
  terraform/gcp/resource-manager/organization-policy.tf
Due: none

wp
  cloud-init/cos-wordpress.tpl
Due: none

oops
  k8s/namespaces/covidshield/00-namespace.yml
  k8s/namespaces/covidshield/01-network-policy.yml
  k8s/namespaces/covidshield/02-service.yaml
  k8s/namespaces/covidshield/03-ingress.yml
  k8s/namespaces/covidshield/deployment.yml
  k8s/namespaces/covidshield/psp.yaml
  k8s/namespaces/mysql/01-network-policy.yml
  k8s/namespaces/mysql/deployment.yml
  k8s/namespaces/nginx/01-netpol.yaml
  k8s/namespaces/nginx/nginx-ingress-controller.yaml
Due: none

Update deployment.yml
  k8s/namespaces/covidshield/deployment.yml
Due: none
